html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
}
h1 {
	border:solid;
}
/*
#found {
	background-color: white;
	position: absolute;
	top: 50px; 
	left: 1500px;
}
*/
progress {
	appearance: none;
	background-color: white;
	position: absolute;
	top: 130px; 
	left: 1500px;
	height: 20px;
}
#playButton {
	position: absolute;
	top:40px;
	left: 200px;
	background-color: none;
	border:none;
	
}
#muter {

	height: 32px;
	width:32px;
}
audio {
	height: 0px;
}